# ======================
# PYTHON / DJANGO
# ======================
__pycache__/
*.py[cod]
*.sqlite3
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.db
*.env
.env
.env.*
*.egg-info/
.Python
db.sqlite3

# Django static/media
/static/
/media/
/staticfiles/
/node_modules/

# Virtual environments
venv/
ENV/
env/
.venv/

# Pip
pip-log.txt
pip-delete-this-directory.txt

# ======================
# REACT / NODE
# ======================
# dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock

# production build
/build/
dist/
*.tgz

# misc
.cache/
.vscode/
.DS_Store
.idea/
*.sublime-project
*.sublime-workspace

# tests
coverage/
htmlcov/
*.cover
.tox/
.nox/

# local dev
*.local
*.pid

# Docker
*.pid
*.seed
.dockerignore

# Pytest
.pytest_cache/
.coverage
nosetests.xml
coverage.xml
*.coveragerc
test-results/

# AWS credentials
.aws/

# ======================
# SYSTEM FILES
# ======================
Thumbs.db
ehthumbs.db
Desktop.ini
*.bak
*.swp
*.tmp
*.orig
*.old
